<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cy.eide.system.organization.mapper.SysUserMapper">

    <insert id="insertUser" parameterType="com.cy.eide.system.organization.entity.SysUser">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides="," >
        <if test="id != null and id != ''">ID,</if>
        <if test="calendar != null and calendar != ''">CALENDAR,</if>
        <if test="levels != null and levels != ''">LEVELS,</if>
        <if test="superior != null and superior != ''">SUPERIOR,</if>
        <if test="defaultapplication != null and defaultapplication != ''">DEFAULTAPPLICATION,</if>
        <if test="email != null and email != ''">EMAIL,</if>
        <if test="loginno != null and loginno != ''">LOGINNO,</if>
        <if test="loginpwd != null and loginpwd != ''">LOGINPWD,</if>
        <if test="name != null and name != ''">NAME,</if>
        <if test="telephone != null and telephone != ''">TELEPHONE,</if>
        <if test="status != null and status != ''">STATUS,</if>
        <if test="domainid != null and domainid != ''">DOMAINID,</if>
        <if test="proxyuser != null and proxyuser != ''">PROXYUSER,</if>
        <if test="remarks != null and remarks != ''">remarks,</if>
        <if test="field1 != null and field1 != ''">FIELD1,</if>
        <if test="field2 != null and field2 != ''">FIELD2,</if>
        <if test="field3 != null and field3 != ''">FIELD3,</if>
        <if test="field4 != null and field4 != ''">FIELD4,</if>
        <if test="field5 != null and field5 != ''">FIELD5,</if>
        <if test="field6 != null and field6 != ''">FIELD6,</if>
        <if test="field7 != null and field7 != ''">FIELD7,</if>
        <if test="field8 != null and field8 != ''">FIELD8,</if>
        <if test="field9 != null and field9 != ''">FIELD9,</if>
        <if test="field10 != null and field10 != ''">FIELD10,</if>
        <if test="defaultdepartment != null and defaultdepartment != ''">DEFAULTDEPARTMENT,</if>
        <if test="isdomainuser != null and isdomainuser != ''">ISDOMAINUSER,</if>
        <if test="startproxytime != null and startproxytime != ''">STARTPROXYTIME,</if>
        <if test="endproxytime != null and endproxytime != ''">ENDPROXYTIME,</if>
        <if test="useim != null and useim != ''">USEIM,</if>
        <if test="orderbyno != null and orderbyno != ''">ORDERBYNO,</if>
        <if test="lastmodifypasswordtime != null and lastmodifypasswordtime != ''">LASTMODIFYPASSWORDTIME,</if>
        <if test="passwordarray != null and passwordarray != ''">PASSWORDARRAY,</if>
        <if test="lockflag != null and lockflag != ''">LOCKFLAG,</if>
        <if test="lastnoticetime != null and lastnoticetime != ''">LASTNOTICETIME,</if>
        <if test="publickey != null and publickey != ''">PUBLICKEY,</if>
        <if test="dimission != null and dimission != ''">DIMISSION,</if>
        <if test="permissionType != null and permissionType != ''">PERMISSION_TYPE,</if>
        <if test="liaisonOfficer != null and liaisonOfficer != ''">LIAISON_OFFICER,</if>
        <if test="telephone2 != null and telephone2 != ''">TELEPHONE2,</if>
        <if test="telephonepublic != null and telephonepublic != ''">TELEPHONEPUBLIC,</if>
        <if test="telephonepublic2 != null and telephonepublic2 != ''">TELEPHONEPUBLIC2,</if>
        <if test="emailpublic != null and emailpublic != ''">EMAILPUBLIC,</if>
        <if test="userinfopublic != null and userinfopublic != ''">USERINFOPUBLIC,</if>
        <if test="nameLetter != null and nameLetter != ''">NAME_LETTER,</if>
        <if test="messageTarget != null and messageTarget != ''">message_target,</if>
        <if test="avatar != null and avatar != ''">AVATAR,</if>
        <if test="favoriteContacts != null and favoriteContacts != ''">FAVORITE_CONTACTS,</if>
        <if test="signs != null and signs != ''">SIGNS,</if>
        <if test="commonworkflow != null and commonworkflow != ''">COMMONWORKFLOW</if>
        </trim>

        <trim prefix="values (" suffix=")" suffixOverrides="," >
        <if test="id != null and id != ''">#{id,jdbcType=VARCHAR},</if>
        <if test="calendar != null and calendar != ''">#{calendar,jdbcType=VARCHAR},</if>
        <if test="levels != null and levels != ''">#{levels,jdbcType=INTEGER},</if>
        <if test="superior != null and superior != ''">#{superior,jdbcType=VARCHAR},</if>
        <if test="defaultapplication != null and defaultapplication != ''">#{defaultapplication,jdbcType=VARCHAR},</if>
        <if test="email != null and email != ''">#{email,jdbcType=VARCHAR},</if>
        <if test="loginno != null and loginno != ''">#{loginno,jdbcType=VARCHAR},</if>
        <if test="loginpwd != null and loginpwd != ''">#{loginpwd,jdbcType=VARCHAR},</if>
        <if test="name != null and name != ''">#{name,jdbcType=VARCHAR},</if>
        <if test="telephone != null and telephone != ''">#{telephone,jdbcType=VARCHAR},</if>
        <if test="status != null and status != ''">#{status,jdbcType=INTEGER},</if>
        <if test="domainid != null and domainid != ''">#{domainid,jdbcType=VARCHAR},</if>
        <if test="proxyuser != null and proxyuser != ''">#{proxyuser,jdbcType=VARCHAR},</if>
        <if test="remarks != null and remarks != ''">#{remarks,jdbcType=VARCHAR},</if>
        <if test="field1 != null and field1 != ''">#{field1,jdbcType=VARCHAR},</if>
        <if test="field2 != null and field2 != ''">#{field2,jdbcType=VARCHAR},</if>
        <if test="field3 != null and field3 != ''">#{field3,jdbcType=VARCHAR},</if>
        <if test="field4 != null and field4 != ''">#{field4,jdbcType=VARCHAR},</if>
        <if test="field5 != null and field5 != ''">#{field5,jdbcType=VARCHAR},</if>
        <if test="field6 != null and field6 != ''">#{field6,jdbcType=VARCHAR},</if>
        <if test="field7 != null and field7 != ''">#{field7,jdbcType=VARCHAR},</if>
        <if test="field8 != null and field8 != ''">#{field8,jdbcType=VARCHAR},</if>
        <if test="field9 != null and field9 != ''">#{field9,jdbcType=VARCHAR},</if>
        <if test="field10 != null and field10 != ''">#{field10,jdbcType=VARCHAR},</if>
        <if test="defaultdepartment != null and defaultdepartment != ''">#{defaultdepartment,jdbcType=VARCHAR},</if>
        <if test="isdomainuser != null and isdomainuser != ''">#{isdomainuser,jdbcType=VARCHAR},</if>
        <if test="startproxytime != null and startproxytime != ''">#{startproxytime,jdbcType=TIMESTAMP},</if>
        <if test="endproxytime != null and endproxytime != ''">#{endproxytime,jdbcType=TIMESTAMP},</if>
        <if test="useim != null and useim != ''">#{useim,jdbcType=BIT},</if>
        <if test="orderbyno != null and orderbyno != ''">#{orderbyno,jdbcType=INTEGER},</if>
        <if test="lastmodifypasswordtime != null and lastmodifypasswordtime != ''">#{lastmodifypasswordtime,jdbcType=TIMESTAMP},</if>
        <if test="passwordarray != null and passwordarray != ''">#{passwordarray,jdbcType=VARCHAR},</if>
        <if test="lockflag != null and lockflag != ''">#{lockflag,jdbcType=INTEGER},</if>
        <if test="lastnoticetime != null and lastnoticetime != ''">#{lastnoticetime,jdbcType=TIMESTAMP},</if>
        <if test="publickey != null and publickey != ''">#{publickey,jdbcType=VARCHAR},</if>
        <if test="dimission != null and dimission != ''">#{dimission,jdbcType=INTEGER},</if>
        <if test="permissionType != null and permissionType != ''">#{permissionType,jdbcType=VARCHAR},</if>
        <if test="liaisonOfficer != null and liaisonOfficer != ''">#{liaisonOfficer,jdbcType=BIT},</if>
        <if test="telephone2 != null and telephone2 != ''">#{telephone2,jdbcType=VARCHAR},</if>
        <if test="telephonepublic != null and telephonepublic != ''">#{telephonepublic,jdbcType=BIT},</if>

        <if test="telephonepublic2 != null and telephonepublic2 != ''">#{telephonepublic2,jdbcType=BIT},</if>
        <if test="emailpublic != null and emailpublic != ''">#{emailpublic,jdbcType=BIT},</if>
        <if test="userinfopublic != null and userinfopublic != ''">#{userinfopublic,jdbcType=BIT},</if>
        <if test="nameLetter != null and nameLetter != ''">#{nameLetter,jdbcType=VARCHAR},</if>
        <if test="messageTarget != null and messageTarget != ''">#{messageTarget,jdbcType=INTEGER},</if>
        <if test="avatar != null and avatar != ''">#{avatar,jdbcType=LONGVARCHAR},</if>
        <if test="favoriteContacts != null and favoriteContacts != ''">#{favoriteContacts,jdbcType=LONGVARCHAR},</if>
        <if test="signs != null and signs != ''">#{signs,jdbcType=LONGVARCHAR},</if>
        <if test="commonworkflow != null and commonworkflow != ''">#{commonworkflow,jdbcType=LONGVARCHAR}</if>
        </trim>
    </insert>
    <select id="findUserByLoginno" resultType="com.cy.eide.system.organization.entity.SysUser">
        select * from t_user where LOGINNO = #{loginno}
    </select>
</mapper>